In [75]:
import duckdb
import pandas as pd
from dotenv import dotenv_values
import datetime

from postgres_connect import PostgresConnection

In [2]:
config = dotenv_values()

In [3]:
pg = PostgresConnection(config=config)

In [6]:
game_details = pg.read_table('game_details')

/mnt/c/Users/jlpay/Documents/Dev/repos/Fact-Data-Modeling-Homework/postgres_connect.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, self._connection())

In [ ]:
duckdb.sql("""
           with dupes as (
           select
            *,
            row_number() over (partition by game_id, player_id) rn
           from game_details)
           
           select 
            * 
           from dupes 
           where 
            rn = 1""")

┌──────────┬────────────┬───────────────────┬─────────────┬───────────┬─────────────────────┬──────────┬────────────────┬──────────────────────────────────────────┬─────────┬────────┬────────┬────────┬────────┬────────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────────┬───────┐
│ game_id  │  team_id   │ team_abbreviation │  team_city  │ player_id │     player_name     │ nickname │ start_position │                 comment                  │   min   │  fgm   │  fga   │ fg_pct │  fg3m  │  fg3a  │ fg3_pct │  ftm   │  fta   │ ft_pct │  oreb  │  dreb  │  reb   │  ast   │  stl   │  blk   │   TO   │   pf   │  pts   │ plus_minus │  rn   │
│  int64   │   int64    │      varchar      │   varchar   │   int64   │       varchar       │ varchar  │    varchar     │                 varchar                  │ varchar │ double │ double │ double │ double │ double │ double  │ double │ double │ double │ double │ double │ double │ double │ double │ double │ double │ double │ double │   double   │ int64 │
├──────────┼────────────┼───────────────────┼─────────────┼───────────┼─────────────────────┼──────────┼────────────────┼──────────────────────────────────────────┼─────────┼────────┼────────┼────────┼────────┼────────┼─────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────────┼───────┤
│ 11600001 │ 1610612761 │ TOR               │ Toronto     │    201942 │ DeMar DeRozan       │ NULL     │ G              │ NULL                                     │ 19:38   │    3.0 │   11.0 │  0.273 │    0.0 │    0.0 │     0.0 │    5.0 │    8.0 │  0.625 │    0.0 │    1.0 │    1.0 │    3.0 │    2.0 │    0.0 │    0.0 │    1.0 │   11.0 │       -7.0 │     1 │
│ 11600001 │ 1610612761 │ TOR               │ Toronto     │    202685 │ Jonas Valanciunas   │ NULL     │ C              │ NULL                                     │ 15:21   │    1.0 │    2.0 │    0.5 │    0.0 │    0.0 │     0.0 │    1.0 │    2.0 │    0.5 │    2.0 │    5.0 │    7.0 │    0.0 │    1.0 │    0.0 │    3.0 │    4.0 │    3.0 │       -1.0 │     1 │
│ 11600001 │ 1610612761 │ TOR               │ Toronto     │   1627832 │ Fred VanVleet       │ NULL     │ NULL           │ NULL                                     │ 13:40   │    2.0 │    4.0 │    0.5 │    0.0 │    1.0 │     0.0 │    1.0 │    2.0 │    0.5 │    0.0 │    2.0 │    2.0 │    1.0 │    0.0 │    0.0 │    0.0 │    0.0 │    5.0 │        3.0 │     1 │
│ 11600004 │ 1610612743 │ DEN               │ Denver      │    203489 │ Nate Wolters        │ NULL     │ NULL           │ DNP - Coach's Decision                   │ NULL    │   NULL │   NULL │   NULL │   NULL │   NULL │    NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │       NULL │     1 │
│ 11600005 │ 1610612749 │ MIL               │ Milwaukee   │    203521 │ Matthew Dellavedova │ NULL     │ NULL           │ NULL                                     │ 24:21   │    3.0 │    6.0 │    0.5 │    3.0 │    4.0 │    0.75 │    2.0 │    2.0 │    1.0 │    0.0 │    2.0 │    2.0 │    6.0 │    1.0 │    0.0 │    2.0 │    2.0 │   11.0 │       17.0 │     1 │
│ 11600005 │ 1610612741 │ CHI               │ Chicago     │   1626171 │ Bobby Portis        │ NULL     │ NULL           │ NULL                                     │ 26:12   │    2.0 │    8.0 │   0.25 │    1.0 │    3.0 │   0.333 │    1.0 │    2.0 │    0.5 │    0.0 │    9.0 │    9.0 │    3.0 │    1.0 │    0.0 │    1.0 │    2.0 │    6.0 │       -8.0 │     1 │
│ 11600006 │ 1610612763 │ MEM               │ Memphis     │    201144 │ Mike Conley         │ NULL     │ G              │ NULL                                     │ 17:07   │    3.0 │    7.0 │  0.429 │    0.0 │    2.0 │     0.0 │    4.0 │    5.0 │    0.8 │    0.0 │    0.0 │    0.0 │    2.0 │    3.0 │    0.0 │    0.0 │    1.0 │   10.0 │       -6.0 │     1 │
│ 11600006 │ 1610612763 │ MEM               │ Memphis     │    203210 │ JaMychal Green      │ NULL     │ F              │ NULL                                     │ 21:29   │    2.0 │    4.0 │    0.5 │    0.0 │    2.0 │     0.0 │    2.0 │    2.0 │    1.0 │    2.0 │    2.0 │    4.0 │    0.0 │    1.0 │    0.0 │    0.0 │    6.0 │    6.0 │        0.0 │     1 │
│ 11600007 │ 1610612756 │ PHX               │ Phoenix     │      2571 │ Leandro Barbosa     │ NULL     │ NULL           │ NULL                                     │ 11:39   │    1.0 │    2.0 │    0.5 │    0.0 │    1.0 │     0.0 │    2.0 │    2.0 │    1.0 │    0.0 │    2.0 │    2.0 │    2.0 │    0.0 │    0.0 │    0.0 │    0.0 │    4.0 │       -1.0 │     1 │
│ 11600007 │ 1610612759 │ SAS               │ San Antonio │    201202 │ Joel Anthony        │ NULL     │ NULL           │ NULL                                     │ 27:25   │    4.0 │    7.0 │  0.571 │    0.0 │    0.0 │     0.0 │    0.0 │    0.0 │    0.0 │    1.0 │    2.0 │    3.0 │    0.0 │    1.0 │    4.0 │    3.0 │    1.0 │    8.0 │       -9.0 │     1 │
│     ·    │      ·     │  ·                │   ·         │       ·   │      ·              │  ·       │ ·              │  ·                                       │   ·     │     ·  │     ·  │    ·   │     ·  │     ·  │      ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │         ·  │     · │
│     ·    │      ·     │  ·                │   ·         │       ·   │      ·              │  ·       │ ·              │  ·                                       │   ·     │     ·  │     ·  │    ·   │     ·  │     ·  │      ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │         ·  │     · │
│     ·    │      ·     │  ·                │   ·         │       ·   │      ·              │  ·       │ ·              │  ·                                       │   ·     │     ·  │     ·  │    ·   │     ·  │     ·  │      ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │     ·  │         ·  │     · │
│ 21500922 │ 1610612738 │ BOS               │ Boston      │    203096 │ Jared Sullinger     │ NULL     │ F              │ NULL                                     │ 31:11   │    8.0 │   17.0 │  0.471 │    0.0 │    1.0 │     0.0 │    1.0 │    2.0 │    0.5 │    7.0 │    6.0 │   13.0 │    1.0 │    1.0 │    0.0 │    0.0 │    4.0 │   17.0 │        1.0 │     1 │
│ 21500923 │ 1610612752 │ NYK               │ New York    │      2756 │ Sasha Vujacic       │ NULL     │ NULL           │ NULL                                     │ 1:02    │    0.0 │    0.0 │    0.0 │    0.0 │    0.0 │     0.0 │    0.0 │    0.0 │    0.0 │    0.0 │    0.0 │    0.0 │    0.0 │    0.0 │    0.0 │    0.0 │    0.0 │    0.0 │       -2.0 │     1 │
│ 21500923 │ 1610612765 │ DET               │ Detroit     │    201202 │ Joel Anthony        │ NULL     │ NULL           │ DNP - Coach's Decision                   │ NULL    │   NULL │   NULL │   NULL │   NULL │   NULL │    NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │       NULL │     1 │
│ 21500923 │ 1610612765 │ DET               │ Detroit     │    202694 │ Marcus Morris Sr.   │ NULL     │ F              │ NULL                                     │ 27:03   │    2.0 │   11.0 │  0.182 │    1.0 │    5.0 │     0.2 │    0.0 │    0.0 │    0.0 │    0.0 │    1.0 │    1.0 │    1.0 │    0.0 │    0.0 │    0.0 │    4.0 │    5.0 │      -15.0 │     1 │
│ 21500924 │ 1610612754 │ IND               │ Indiana     │    101139 │ CJ Miles            │ NULL     │ NULL           │ DND - Strained Left Calf                 │ NULL    │   NULL │   NULL │   NULL │   NULL │   NULL │    NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │   NULL │       NULL │     1 │
│ 21500925 │ 1610612740 │ NOP               │ New Orleans │    201962 │ Toney Douglas       │ NULL     │ NULL           │ NULL                                     │ 18:56   │    3.0 │    8.0 │  0.375 │    3.0 │    4.0 │    0.75 │    0.0 │    0.0 │    0.0 │    0.0 │    1.0 │    1.0 │    0.0 │    0.0 │    0.0 │    0.0 │    3.0 │    9.0 │      -15.0 │     1 │
│ 21500925 │ 1610612762 │ UTA               │ Utah        │    202330 │ Gordon Hayward      │ NULL     │ F              │ NULL                                     │ 37:09   │    8.0 │   16.0 │    0.5 │    2.0 │    7.0 │   0.286 │    6.0 │    6.0 │    1.0 │    0.0 │    5.0 │    5.0 │    4.0 │    1.0 │    0.0 │    2.0 │    1.0 │   24.0 │        9.0 │     1 │
│ 21500925 │ 1610612740 │ NOP               │ New Orleans │    202708 │ Norris Cole         │ NULL     │ G              │ NULL                                     │ 28:33   │    3.0 │    9.0 │  0.333 │    0.0 │    0.0 │     0.0 │    0.0 │    0.0 │    0.0 │    0.0 │    2.0 │    2.0 │    5.0 │    1.0 │    0.0 │    1.0 │    4.0 │    6.0 │       -3.0 │     1 │
│ 21500925 │ 1610612762 │ UTA               │ Utah        │    203526 │ Raul Neto           │ NULL     │ NULL           │ NULL                                     │ 16:23   │    1.0 │    3.0 │  0.333 │    0.0 │    1.0 │     0.0 │    4.0 │    4.0 │    1.0 │    0.0 │    1.0 │    1.0 │    1.0 │    0.0 │    0.0 │    0.0 │    2.0 │    6.0 │       10.0 │     1 │
│ 21500926 │ 1610612751 │ BKN               │ Brooklyn    │    203186 │ Willie Reed         │ NULL     │ C              │ NULL                                     │ 31:33   │    5.0 │   11.0 │  0.455 │    0.0 │    0.0 │     0.0 │    4.0 │    5.0 │    0.8 │    5.0 │    3.0 │    8.0 │    3.0 │    0.0 │    4.0 │    0.0 │    2.0 │   14.0 │      -16.0 │     1 │
├──────────┴────────────┴───────────────────┴─────────────┴───────────┴─────────────────────┴──────────┴────────────────┴──────────────────────────────────────────┴─────────┴────────┴────────┴────────┴────────┴────────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────────┴───────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                                                                                           30 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [14]:
duckdb.sql("""
select
    distinct *
from game_details
where
    game_id = 22000043   
    and player_id = 201144 
""")

┌──────────┬────────────┬───────────────────┬───────────┬───────────┬─────────────┬──────────┬────────────────┬─────────┬─────────┬────────┬────────┬────────┬────────┬────────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┬────────────┐
│ game_id  │  team_id   │ team_abbreviation │ team_city │ player_id │ player_name │ nickname │ start_position │ comment │   min   │  fgm   │  fga   │ fg_pct │  fg3m  │  fg3a  │ fg3_pct │  ftm   │  fta   │ ft_pct │  oreb  │  dreb  │  reb   │  ast   │  stl   │  blk   │   TO   │   pf   │  pts   │ plus_minus │
│  int64   │   int64    │      varchar      │  varchar  │   int64   │   varchar   │ varchar  │    varchar     │ varchar │ varchar │ double │ double │ double │ double │ double │ double  │ double │ double │ double │ double │ double │ double │ double │ double │ double │ double │ double │ double │   double   │
├──────────┼────────────┼───────────────────┼───────────┼───────────┼─────────────┼──────────┼────────────────┼─────────┼─────────┼────────┼────────┼────────┼────────┼────────┼─────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────┼────────────┤
│ 22000043 │ 1610612762 │ UTA               │ Utah      │    201144 │ Mike Conley │ NULL     │ G              │ NULL    │ 32:22   │    8.0 │   15.0 │  0.533 │    2.0 │    6.0 │   0.333 │    2.0 │    2.0 │    1.0 │    3.0 │    7.0 │   10.0 │    9.0 │    1.0 │    1.0 │    2.0 │    3.0 │   20.0 │        1.0 │
└──────────┴────────────┴───────────────────┴───────────┴───────────┴─────────────┴──────────┴────────────────┴─────────┴─────────┴────────┴────────┴────────┴────────┴────────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┴────────────┘

In [70]:
df = pg.read_table('devices')

In [45]:
df.head()

,url,referrer,user_id,device_id,host,event_time
0,/,None,NaN,9.906757e+18,www.zachwilson.tech,2023-01-09 11:55:28.032000
1,/,None,1.664713e+19,9.906757e+18,www.zachwilson.tech,2023-01-09 20:10:27.610000
2,/,None,NaN,1.204839e+19,admin.zachwilson.tech,2023-01-10 04:43:49.204000
3,/,None,NaN,1.204839e+19,www.zachwilson.tech,2023-01-14 05:25:03.497000
4,/,None,NaN,1.204839e+19,www.zachwilson.tech,2023-01-14 05:25:04.305000

In [71]:
with duckdb.connect('events.db') as con:
    con.sql("DROP TABLE if EXISTS devices")
    con.sql("CREATE TABLE devices (device_id text, browser_type text, device_type text, os_type text)")
    con.sql("""
insert into devices
select device_id, browser_type, device_type, os_type from df
""")

In [68]:
with duckdb.connect('events.db') as con:
    con.sql("DROP TABLE IF EXISTS events;")
    con.sql("CREATE TABLE events (url text, referrer text, user_id text, device_id text, host text, event_time timestamp)")
    con.sql("""
insert into events
select * from df
""")

In [33]:
with duckdb.connect('events.db') as con:
    con.sql("select min(event_time), max(event_time) from events").show()

┌─────────────────────────┬─────────────────────────┐
│     min(event_time)     │     max(event_time)     │
│        timestamp        │        timestamp        │
├─────────────────────────┼─────────────────────────┤
│ 2023-01-01 00:06:50.079 │ 2023-01-31 23:51:51.685 │
└─────────────────────────┴─────────────────────────┘

In [31]:
with duckdb.connect('events.db') as con:
    con.sql("select * from events").show()

┌─────────────────────────────────────────┬────────────────────────────────┬───────────────┬───────────────┬───────────────────────┬─────────────────────────┐
│                   url                   │            referrer            │    user_id    │   evice_id    │         host          │       event_time        │
│                 varchar                 │            varchar             │     float     │     float     │        varchar        │        timestamp        │
├─────────────────────────────────────────┼────────────────────────────────┼───────────────┼───────────────┼───────────────────────┼─────────────────────────┤
│ /                                       │ NULL                           │          NULL │  9.906757e+18 │ www.zachwilson.tech   │ 2023-01-09 11:55:28.032 │
│ /                                       │ NULL                           │  1.664713e+19 │  9.906757e+18 │ www.zachwilson.tech   │ 2023-01-09 20:10:27.61  │
│ /                                       │ NULL                           │          NULL │ 1.2048389e+19 │ admin.zachwilson.tech │ 2023-01-10 04:43:49.204 │
│ /                                       │ NULL                           │          NULL │ 1.2048389e+19 │ www.zachwilson.tech   │ 2023-01-14 05:25:03.497 │
│ /                                       │ NULL                           │          NULL │ 1.2048389e+19 │ www.zachwilson.tech   │ 2023-01-14 05:25:04.305 │
│ /                                       │ NULL                           │          NULL │ 1.2048389e+19 │ www.zachwilson.tech   │ 2023-01-14 05:44:51.848 │
│ /?author=4                              │ NULL                           │          NULL │ 8.3007636e+18 │ www.zachwilson.tech   │ 2023-01-22 10:29:17.735 │
│ /?author=5                              │ NULL                           │   2.85403e+18 │ 8.3007636e+18 │ www.zachwilson.tech   │ 2023-01-22 10:29:19.083 │
│ /                                       │ NULL                           │ 7.2215506e+18 │ 5.2073355e+17 │ www.zachwilson.tech   │ 2023-01-21 23:59:01.355 │
│ /robots.txt                             │ NULL                           │          NULL │          NULL │ www.eczachly.com      │ 2023-01-22 00:04:54.058 │
│ ·                                       │  ·                             │            ·  │            ·  │        ·              │            ·            │
│ ·                                       │  ·                             │            ·  │            ·  │        ·              │            ·            │
│ ·                                       │  ·                             │            ·  │            ·  │        ·              │            ·            │
│ /                                       │ NULL                           │          NULL │  8.405258e+18 │ www.zachwilson.tech   │ 2023-01-07 08:01:08.876 │
│ /                                       │ https://www.google.com/        │ 1.1846314e+19 │  2.602625e+18 │ www.zachwilson.tech   │ 2023-01-07 08:07:20.064 │
│ /                                       │ NULL                           │ 5.1734474e+18 │ 1.0598708e+19 │ www.zachwilson.tech   │ 2023-01-07 08:29:09.957 │
│ /                                       │ https://www.google.co.in/      │          NULL │ 6.9990375e+17 │ www.zachwilson.tech   │ 2023-01-07 08:34:23.754 │
│ /robots.txt                             │ NULL                           │          NULL │   6.01821e+18 │ www.eczachly.com      │ 2023-01-07 08:53:28.172 │
│ /about                                  │ NULL                           │ 1.5644649e+18 │  4.974674e+17 │ www.eczachly.com      │ 2023-01-07 08:54:18.32  │
│ /.well-known/apple-app-site-association │ https://www.eczachly.com/about │ 1.5644649e+18 │  4.974674e+17 │ www.eczachly.com      │ 2023-01-07 08:54:42.823 │
│ /robots.txt                             │ https://www.eczachly.com/about │ 1.5644649e+18 │  4.974674e+17 │ www.eczachly.com      │ 2023-01-07 08:54:46.129 │
│ /.well-known/apple-app-site-association │ https://www.eczachly.com/about │ 1.5644649e+18 │  4.974674e+17 │ www.eczachly.com      │ 2023-01-07 08:54:47.058 │
│ /.well-known/security.txt               │ https://www.eczachly.com/about │ 1.5644649e+18 │  4.974674e+17 │ www.eczachly.com      │ 2023-01-07 08:54:47.086 │
├─────────────────────────────────────────┴────────────────────────────────┴───────────────┴───────────────┴───────────────────────┴─────────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                    6 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [51]:
with duckdb.connect('events.db') as con:
    con.sql("""select 
                * 
            from events e
            join devices d
                on e.device_id = e.device_id
            where
                e.user_id is not null""").show()

┌──────────────┬──────────┬───────────────┬───────────────┬─────────────────────┬─────────────────────────┬───────────────┬────────────────┬─────────────┬──────────┐
│     url      │ referrer │    user_id    │   device_id   │        host         │       event_time        │   device_id   │  browser_type  │ device_type │ os_type  │
│   varchar    │ varchar  │     float     │     float     │       varchar       │        timestamp        │     float     │    varchar     │   varchar   │ varchar  │
├──────────────┼──────────┼───────────────┼───────────────┼─────────────────────┼─────────────────────────┼───────────────┼────────────────┼─────────────┼──────────┤
│ /            │ NULL     │  1.664713e+19 │  9.906757e+18 │ www.zachwilson.tech │ 2023-01-09 20:10:27.61  │  8.971692e+18 │ Chrome         │ Other       │ Mac OS X │
│ /            │ NULL     │  1.664713e+19 │  9.906757e+18 │ www.zachwilson.tech │ 2023-01-09 20:10:27.61  │ 2.5693874e+18 │ FacebookBot    │ Spider      │ Other    │
│ /            │ NULL     │  1.664713e+19 │  9.906757e+18 │ www.zachwilson.tech │ 2023-01-09 20:10:27.61  │ 1.0598708e+19 │ Googlebot      │ Spider      │ Other    │
│ /            │ NULL     │  1.664713e+19 │  9.906757e+18 │ www.zachwilson.tech │ 2023-01-09 20:10:27.61  │ 1.1695411e+19 │ Googlebot      │ Spider      │ Android  │
│ /            │ NULL     │  1.664713e+19 │  9.906757e+18 │ www.zachwilson.tech │ 2023-01-09 20:10:27.61  │ 7.2800193e+18 │ Mobile Safari  │ iPhone      │ iOS      │
│ /            │ NULL     │  1.664713e+19 │  9.906757e+18 │ www.zachwilson.tech │ 2023-01-09 20:10:27.61  │ 1.2048389e+19 │ Other          │ Other       │ Other    │
│ /            │ NULL     │  1.664713e+19 │  9.906757e+18 │ www.zachwilson.tech │ 2023-01-09 20:10:27.61  │ 1.7040123e+19 │ FacebookBot    │ Spider      │ Mac OS X │
│ /            │ NULL     │  1.664713e+19 │  9.906757e+18 │ www.zachwilson.tech │ 2023-01-09 20:10:27.61  │ 1.5188517e+19 │ Mobile Safari  │ iPhone      │ iOS      │
│ /            │ NULL     │  1.664713e+19 │  9.906757e+18 │ www.zachwilson.tech │ 2023-01-09 20:10:27.61  │ 1.7119362e+19 │ Facebook       │ iPhone      │ iOS      │
│ /            │ NULL     │  1.664713e+19 │  9.906757e+18 │ www.zachwilson.tech │ 2023-01-09 20:10:27.61  │  7.171968e+18 │ Opera          │ Other       │ Mac OS X │
│ ·            │  ·       │        ·      │        ·      │        ·            │           ·             │        ·      │   ·            │   ·         │    ·     │
│ ·            │  ·       │        ·      │        ·      │        ·            │           ·             │        ·      │   ·            │   ·         │    ·     │
│ ·            │  ·       │        ·      │        ·      │        ·            │           ·             │        ·      │   ·            │   ·         │    ·     │
│ /app-ads.txt │ NULL     │ 1.5027851e+19 │ 6.4495675e+18 │ www.eczachly.com    │ 2023-01-22 00:05:04.319 │ 1.4655212e+19 │ Chrome         │ Other       │ Windows  │
│ /app-ads.txt │ NULL     │ 1.5027851e+19 │ 6.4495675e+18 │ www.eczachly.com    │ 2023-01-22 00:05:04.319 │ 4.2184993e+18 │ HeadlessChrome │ Other       │ Linux    │
│ /app-ads.txt │ NULL     │ 1.5027851e+19 │ 6.4495675e+18 │ www.eczachly.com    │ 2023-01-22 00:05:04.319 │ 3.9716473e+17 │ Chrome Mobile  │ Nexus 5     │ Android  │
│ /app-ads.txt │ NULL     │ 1.5027851e+19 │ 6.4495675e+18 │ www.eczachly.com    │ 2023-01-22 00:05:04.319 │ 1.0952238e+19 │ Firefox        │ Other       │ Linux    │
│ /app-ads.txt │ NULL     │ 1.5027851e+19 │ 6.4495675e+18 │ www.eczachly.com    │ 2023-01-22 00:05:04.319 │ 1.8497006e+18 │ HeadlessChrome │ Other       │ Linux    │
│ /app-ads.txt │ NULL     │ 1.5027851e+19 │ 6.4495675e+18 │ www.eczachly.com    │ 2023-01-22 00:05:04.319 │ 1.5436142e+19 │ Chrome         │ Other       │ Mac OS X │
│ /app-ads.txt │ NULL     │ 1.5027851e+19 │ 6.4495675e+18 │ www.eczachly.com    │ 2023-01-22 00:05:04.319 │ 1.1642209e+19 │ Chrome         │ Other       │ Windows  │
│ /app-ads.txt │ NULL     │ 1.5027851e+19 │ 6.4495675e+18 │ www.eczachly.com    │ 2023-01-22 00:05:04.319 │ 1.4873137e+19 │ Firefox        │ Other       │ Mac OS X │
│ /app-ads.txt │ NULL     │ 1.5027851e+19 │ 6.4495675e+18 │ www.eczachly.com    │ 2023-01-22 00:05:04.319 │ 1.0911556e+19 │ Firefox        │ Other       │ Linux    │
│ /app-ads.txt │ NULL     │ 1.5027851e+19 │ 6.4495675e+18 │ www.eczachly.com    │ 2023-01-22 00:05:04.319 │  8.546856e+18 │ Chrome         │ Other       │ Mac OS X │
├──────────────┴──────────┴───────────────┴───────────────┴─────────────────────┴─────────────────────────┴───────────────┴────────────────┴─────────────┴──────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                          10 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [60]:
with duckdb.connect('events.db') as con:
    con.sql("""
            with daily as (
            select 
                e.user_id,
                d.device_id,
                d.browser_type,
                count(*) total
            from events e
            join devices d
                on e.device_id = e.device_id
            where
                e.user_id is not null
                and e.event_time::Date  = '2023/1/1'
            group by all)
            
            select * from daily
            where total = 1""").show()

┌─────────┬───────────┬──────────────┬───────┐
│ user_id │ device_id │ browser_type │ total │
│  float  │   float   │   varchar    │ int64 │
├─────────┴───────────┴──────────────┴───────┤
│                   0 rows                   │
└────────────────────────────────────────────┘

In [ ]:
with duckdb.connect('events.db') as con:
    # con.sql("drop table if exists user_devices_cumulated")
    # con.sql("create table user_devices_cumulated (userid text, browser_dates map(text, date))")
    con.sql("""
with today_dupe as (
select
    e.user_id,
    d.device_id,
    d.browser_type,
    row_number() over (partition by e.user_id, d.device_id) rn
from events e
    left join devices d 
        on d.device_id = e.device_id
where
    user_id is not null
            and event_time::date = '2023/1/1/'),
today as (
select
    *
from today_dupe
where
    rn = 1), mapped_cols as (
select
    user_id,
    MAP { browser_type: 1 } as browser_count
from today
where
    browser_type is not null),
joined as (
            
select
    mc1.user_id,
    mc1.browser_count || mc2.browser_count as browser_count,
    mc1.browser_count,
    mc2.browser_count,
    /*case
        when mc2.browser_count is not null then mc1.browser_count := mc2.browser_count
    end browser_count*/
from mapped_cols mc1
    join mapped_cols mc2
        on mc1.user_id = mc2.user_id
        and mc1.browser_count <> mc2.browser_count
        and mc1.browser_count is not null)
            
select * from joined
 """).show()

InvalidInputException: Invalid Input Error: Invalid map argument(s). Valid map arguments are a list of key-value pairs (MAP {'key1': 'val1', ...}), two lists (MAP ([1, 2], [10, 11])), or no arguments.

In [122]:
with duckdb.connect('events.db') as con:
    con.sql("drop table if exists user_devices_cumulated")
    con.sql("create table user_devices_cumulated (user_id text, browser_type text, dates date[], current_date date)")
    con.sql("""
with today_dupe as (
select
    e.user_id,
    d.device_id,
    d.browser_type,
    row_number() over (partition by e.user_id, d.device_id) rn
from events e
    left join devices d 
        on d.device_id = e.device_id
where
    user_id is not null
            and event_time::date = '2023/1/1/'),
today as (
select
    *
from today_dupe
where
    rn = 1), mapped_cols as (
select
    user_id,
    browser_type,
    ['2023/1/1'::date] as date,
    '2023/1/1'::date current_date
from today
where
    browser_type is not null),
yesterday as (
select
    *
from user_devices_cumulated
where
    current_date = current_date
            ),
historical as (
select
    *
from yesterday y
where
    not exists (select * from mapped_cols mc where mc.user_id = y.user_id and mc.browser_type = y.browser_type)),
new as (
select
    *
from mapped_cols mc
where
    not exists (select * from yesterday y where mc.user_id = y.user_id and mc.browser_type = y.browser_type)),
updated as (
select
    user_id,
    browser_type,
    dates || ['2023/1/1'::Date],
    '2023/1/1'::Date current_date
from yesterday y
where
    exists (select * from mapped_cols mc where mc.user_id = y.user_id and mc.browser_type = y.browser_type))
            
                   
select * from historical
union all
select * from new
union all
select * from updated
 """).show()

┌────────────────────────┬───────────────┬──────────────┬──────────────┐
│        user_id         │ browser_type  │    dates     │ current_date │
│        varchar         │    varchar    │    date[]    │     date     │
├────────────────────────┼───────────────┼──────────────┼──────────────┤
│ 2.149685481453258e+18  │ ) Bot         │ [2023-01-01] │ 2023-01-01   │
│ 1.36472210049767e+19   │ AhrefsBot     │ [2023-01-01] │ 2023-01-01   │
│ 2.0144825980926515e+18 │ AhrefsBot     │ [2023-01-01] │ 2023-01-01   │
│ 2.794586222856017e+18  │ SemrushBot    │ [2023-01-01] │ 2023-01-01   │
│ 1.53423419884343e+19   │ Googlebot     │ [2023-01-01] │ 2023-01-01   │
│ 1.1834646844374e+19    │ Chrome        │ [2023-01-01] │ 2023-01-01   │
│ 5.017882618361265e+18  │ Chrome        │ [2023-01-01] │ 2023-01-01   │
│ 1.33940240807639e+19   │ Chrome        │ [2023-01-01] │ 2023-01-01   │
│ 1.36508603897267e+19   │ Googlebot     │ [2023-01-01] │ 2023-01-01   │
│ 1.4322833487723359e+18 │ bingbot       │ [2023-01-01] │ 2023-01-01   │
│           ·            │   ·           │      ·       │     ·        │
│           ·            │   ·           │      ·       │     ·        │
│           ·            │   ·           │      ·       │     ·        │
│ 5.804919602898318e+18  │ ) Bot         │ [2023-01-01] │ 2023-01-01   │
│ 1.41130230182552e+19   │ Chrome Mobile │ [2023-01-01] │ 2023-01-01   │
│ 1.41563860814292e+19   │ Chrome        │ [2023-01-01] │ 2023-01-01   │
│ 9.380611640682044e+17  │ AhrefsBot     │ [2023-01-01] │ 2023-01-01   │
│ 9.33017779244954e+18   │ ) Bot         │ [2023-01-01] │ 2023-01-01   │
│ 1.32838776125935e+19   │ bingbot       │ [2023-01-01] │ 2023-01-01   │
│ 1.44344694443508e+19   │ Googlebot     │ [2023-01-01] │ 2023-01-01   │
│ 1.13556489564773e+19   │ Other         │ [2023-01-01] │ 2023-01-01   │
│ 7.013254732021118e+16  │ ) Bot         │ [2023-01-01] │ 2023-01-01   │
│ 5.641679155878286e+18  │ Googlebot     │ [2023-01-01] │ 2023-01-01   │
├────────────────────────┴───────────────┴──────────────┴──────────────┤
│ 86 rows (20 shown)                                         4 columns │
└──────────────────────────────────────────────────────────────────────┘

In [132]:
int('2024/11/23'.split('/')[0])

2024

In [136]:
def load_browser_dates(date: datetime.date) -> None:    
    if isinstance(date, str):
        date_list = date.split('/')
        date = datetime.date(int(date_list[0]), int(date_list[1]), int(date_list[2]))
    with duckdb.connect('events.db') as con:
        con.sql(f"""
    with today_dupe as (
    select
        e.user_id,
        d.device_id,
        d.browser_type,
        row_number() over (partition by e.user_id, d.device_id) rn
    from events e
        left join devices d 
            on d.device_id = e.device_id
    where
        user_id is not null
                and event_time::date = {date}),
    today as (
    select
        *
    from today_dupe
    where
        rn = 1), mapped_cols as (
    select
        user_id,
        browser_type,
        ['{date}'::date] as date,
        '{date}'::date current_date
    from today
    where
        browser_type is not null),
    yesterday as (
    select
        *
    from user_devices_cumulated
    where
        current_date = '{date} interval -1'
                ),
    historical as (
    select
        *
    from yesterday y
    where
        not exists (select * from mapped_cols mc where mc.user_id = y.user_id and mc.browser_type = y.browser_type)),
    new as (
    select
        *
    from mapped_cols mc
    where
        not exists (select * from yesterday y where mc.user_id = y.user_id and mc.browser_type = y.browser_type)),
    updated as (
    select
        user_id,
        browser_type,
        dates || ['{date}'::Date],
        '{date}'::Date current_date
    from yesterday y
    where
        exists (select * from mapped_cols mc where mc.user_id = y.user_id and mc.browser_type = y.browser_type))
                
                    
    select * from historical
    union all
    select * from new
    union all
    select * from updated
    """)
        
load_browser_dates('2023/1/2')

In [230]:
with duckdb.connect('events.db') as con:
    con.sql("drop table if exists date_list_int")
    con.sql("create table date_list_int (host text, date_list_int integer[])")

In [231]:
def load_date_list(date: datetime.date) -> None:
    if isinstance(date, str):
        date_split = date.split('/')
        date = datetime.date(int(date_split[0]), int(date_split[1]), int(date_split[2]))
    first_month = date.replace(day=1)
    with duckdb.connect('events.db') as con:
        con.sql(f"""
                insert into date_list_int
                with today as (
                select 
                    distinct host
                from events
                where
                    event_time::date = '{date}')
                
                select
                    t.host,
                    case
                        when t.host is null and dli.host is not null then dli.date_list_int || [1]
                        when dli.host is null then ARRAY({[0 for i in range(abs((date -first_month).days))]}) || [1]
                        when t.host is not null then dli.date_list_int || [1]
                        else [1]
                    end as date_list_int
                from today t
                    full outer join date_list_int dli
                        on t.host = dli.host
                """)
        
load_date_list('2023/1/1')

ParserException: Parser Error: syntax error at or near "["

In [232]:
with duckdb.connect('events.db') as con:
    con.sql("""
            select 
                * 
            from date_list_int
            """).show()

┌─────────┬───────────────┐
│  host   │ date_list_int │
│ varchar │    int32[]    │
├─────────┴───────────────┤
│         0 rows          │
└─────────────────────────┘

'[0, 0, 0]'